<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>"Was ist neu?"-Schaltfläche</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>excludedForums</string>
		<key>Title</key>
		<string>Liste ausgeschlossener Foren-IDs</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>FalseValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>overwriteServerExclusions</string>
		<key>Title</key>
		<string>Serverseitige Einstellungen überschreiben?</string>
		<key>TrueValue</key>
		<real>1</real>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Weitere Einstellungen</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>FalseValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>changeForumSearch</string>
		<key>Title</key>
		<string>Forensuche auf Google umleiten</string>
		<key>TrueValue</key>
		<real>1</real>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
